
<h3 align = "center"> Title : <%= @article.title %> </h3>

<div class =  "col-xs-8 col-xs-offset-2 well well-lg">
  <% if @article.user %>
  <div class= "row">
      <ul class= "listing">
          <div class="col-xs-2 col-md-1">
              <li> 
                  <% if @article.user.avatar? %>
                     <%= image_tag @article.user.avatar, height: 60, width: 60, class: "img-circle" %>
                  <% else %>
                    <%= gravatar_for @article.user, size: 15 , class: "img-circle" %>
                  <% end %> 
              </li>
            </div>
            <div class="col-xs-2 art_show_username">
              <li class= "article-title"> <%= link_to @article.user.username, user_path(@article.user) %> 
              </li>
            </div>
      </ul>
  <% end %>
  </div>
  
  <div class="row">
    <div class="col-xs-12 index">
        <%= truncate(@article.description, length: 1000) %>
    </div>
        <%= (image_tag @article.image, class: "col-xs-10 col-xs-offset-1") if @article.image? %>
  </div>

  
  <div class="article-action">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'Edit this article', edit_article_path(@article), class: "btn btn-xs btn-primary "%>
      <%= link_to 'Delete this article', article_path(@article), method: :delete, data:{confirm: "Are you sure ?"}, class: "btn btn-xs btn-danger "%>
    <% end %>
    <%= link_to 'View all articles', articles_path, class: "btn btn-xs btn-success"%>
  </div>
</div>
