
<h3 align = "center"> Title : <%= @article.title %> </h3>

<div class =  "well col-xs-8 col-xs-offset-2 well-lg">
  <% if @article.user %>
  <ul class= "listing">
    <div align="center">
      <div class= "col-md-10 col-md-offset-1 center listing">
          <li><small> Creadted by:</small></li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %> </li>
          <li class= "article-title"> <%= link_to @article.user.username, user_path(@article.user) %> </li>
          <li><small> <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
      </div>
    </div>
  </ul>
  <% end %>
  
  <h4 class="des" align="center">Description:</h4>
  <%= truncate(@article.description, length: 1000) %>
  
  <div class="article-action">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'Edit this article', edit_article_path(@article), class: "btn btn-xs btn-primary "%>
      <%= link_to 'Delete this article', article_path(@article), method: :delete, data:{confirm: "Are you sure ?"}, class: "btn btn-xs btn-danger "%>
    <% end %>
    <%= link_to 'View all articles', articles_path, class: "btn btn-xs btn-success"%>
  </div>
</div>
