<h2 align = "center"> Users of Alph Blog </h2>
  <div align="center" class="row">
    <% @users.each do |u| %>
      <% if current_user != u %>
        <div class= "well col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 center">
          <ul class= "listing">
            <li> <% if u.avatar? %>
                  <%= image_tag u.avatar_url, height: 150, width: 150, class: "img-circle" %>
                  <% else %>
                    <%= gravatar_for u, size: 150 , class: "img-circle" %>
                  <% end %> </li>
            <li class= "article-title"> <%= link_to u.username, user_path(u) %> </li>
            <li><small> <%= pluralize(u.articles.count, "article") if u.articles %></small></li>
            <% if logged_in? %>
              <% if current_user.admin? %>
                <li> <%= link_to "Delete this user", user_path(u), method: :delete, data: {confirm: "Are you sure you want to delete this user and his articles ?"}, class: "btn btn-danger" %> </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
  <div align="center">
      <%= will_paginate %>
  </div>