<!DOCTYPE html>
<html>
<head>
  <title>AlpaBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ,obj: @user -->
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/msgs' %>
  <div id="results">
    <%= render 'shared/results' %>
  </div>

  <div class= "container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" align="center">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <div >
          <%= link_to "All Categories", categories_path, class: "list-group-item list-group-item-action active" %>
            <% Category.all.each do |category| %>
            <%= link_to "#{category.name}", category_path(category), class: "list-group-item list-group-item-action" %>
            <% end %>
            <% if logged_in? and current_user.admin? %>
              <span role="separator" class="divider"></span>
              <%= link_to "Create New Category", new_category_path, class: "list-group-item list-group-item-action active" %>
            <% end %>
        </div>
      </div>
    </div>
    

    <div class="footer-div">
      <%= render 'layouts/footer' %>
    </div>
  </div>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
