<!DOCTYPE html>
<html>
<head>
  <title>AlpaBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ,obj: @user -->
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/msgs' %>
  <div id="results">
    <%= render 'shared/results' %>
  </div>

  <div class= "container-fluid">
    <%= yield %>
  </div>
<div class="footer-div">
  <%= render 'layouts/footer' %>
</div>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
